body{
    background-color: rgb(255, 255, 255);
}
.Container
{
    width: 80%;
    border: 2px solid red;
    padding: 20px;
    text-align: justify;
    margin: auto;
}
.Container main img{
    width: 50%;
    margin: auto;
}
.menu ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu ul li{
    display: inline-block;
}

.menu ul li a{
    text-decoration: none;
    padding: 10px 20px;
    color: black;
    background-color: #ffffff;
    transition: 0.3s;
}

.menu ul li a:hover{
    background-color: #7e7e7e;
    color: white;
}
