<!DOCTYPE html>
<html lang="en">
    <style>
        .texto-blanco {
            color: rgb(0, 0, 0);
        }
    </style>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CSS</title>
    <div class="Container">
</head>
<link rel="stylesheet" href="../css.css">
<nav class="menu">
<body>
    <header>
        <nav class="menu">
            <ul>
                <li><a href="../index.html">Inicio</a></li>
                <li><a href="productos.html">Productos</a></li>
                <li><a href="contacto.html">Contacto</a></li>
            </ul>
        </nav>
    </header>
<main>
</main>
    <h2 class="texto-blanco">Esto es un divisor</h2>
    <p class="texto-blanco">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tempora blanditiis, doloribus quae facilis pariatur inventore sapiente repellendus assumenda possimus odio eligendi nam! Placeat ipsum esse enim sapiente asperiores iste odio.</p>
    <p>Pie de pagina principal.</p>
</div>
</body>
</html>